name: Test puppeteer

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    container: lironavon/docker-puppeteer-container:14.16.0

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      # cache the dependencies from any node_modules directory
      - name: cache dependencies
        uses: actions/cache@v2
        with:
          path: '**/node_modules'
          key: node_modules-${{ hashFiles('**/package-lock.json')}}
          
      # install dependencies
      - name: install dependencies
        run: npm ci --ignore-scripts
        
      # run the rain checker puppeteer test
      - name: test
        run: npm test
          
      - name: Not run if previous failed
        run: |
          echo ran
