
name: Test if file exists

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: Change branch
        run: |
          git config --global user.name 'mathiastj'
          git config --global user.email 'mathiastj@users.noreply.github.com'
          git checkout did-run --
      
      - name: "Check file existence"
        run: |
          # make file runnable, might not be necessary
          chmod +x "${GITHUB_WORKSPACE}/bin/check-file-exists.sh"
          
          # run script
          "${GITHUB_WORKSPACE}/bin/check-file-exists.sh"
      
